<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 17.5rem;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <div class="container mt-5">
        <ul class="list-group">
            <!-- Primer nivel de lista -->
            <li class="list-group-item">
                Opción 1
                <ul class="dropdown-menu-right list-group">
                    <li class="list-group-item">Subopción 1.1</li>
                    <li class="list-group-item">Subopción 1.2</li>
                    <li class="list-group-item">Subopción 1.3</li>
                </ul>
            </li>
            <li class="list-group-item">
                Opción 2
                <ul class="dropdown-menu-right list-group">
                    <li class="list-group-item">Subopción 2.1</li>
                    <li class="list-group-item">Subopción 2.2</li>
                </ul>
            </li>
            <li class="list-group-item">
                Opción 3
            </li>
        </ul>
    </div>

  </div>
</div>
